@font-face {
    font-family: "Solano";
    src: url("fonts/SolanoGothicMVB-Md.otf");
}

@font-face{
  font-family: "SolanoBoldCap";
  src: url("fonts/SolanoGothicMVB-SbCap.otf");
}


form{
  margin-top:2%;
}

#twoButtons{
  text-align: center;
}

.canvas text {
  fill: white;
  font: 42px 'Solano', sans-serif;
  text-anchor: end;
}

.tick {
  stroke-dasharray: 1, 2;
        }

.tick text {
  fill:black!important;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
        
.axis text {
  font-family: 'Solano';
  font-size: 22px;
  fill: black;
}

.canvas .title {
  font-family:"SolanoBoldCap", serif;
  font-size: 62px;
  fill: black;
}

.bar:hover {
  fill: turquoise;
}